<div class="vh-17-5 bg-dark-blue">
  <div class="container text-center divider">
    <div class="row align-items-center pt-4">
      <div class="col-4">
        <p class="footer-cstm fc-white font-josefin">Copyright © <%= new Date().getFullYear() %> cstm-dev</p>
      </div>
      <div class="col-4">
        <img class="logo-footer mt-3" src="./images/Logo.png" alt="Logo" />
      </div>
      <div class="col-4">
        <p class="footer-cstm fc-white font-josefin">This website was build by cstm-dev
          <a href="https://github.com/cstm-dev/" target="_blank"><img class="icon-32 github" src="./images/github.png" alt="github icon"></a>
        </p>
      </div>
    </div>
  </div>
</div>

</body>

</html>