<div class="vh-100 bg-light-blue">
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <img class="logo-hero mt-3" src="./images/Logo.png" alt="Logo" />
      </div>
    </div>
    <div class="row justify-content-between">
      <div class="col-6 text-center">
        <h1 class="h1-cstm font-pacifico fc-white">
          Lorem ipsum dolor<br />sit amet
        </h1>
        <p class="p-cstm font-josefin fc-white text-start mt-5">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus
          consectetur tellus eget feugiat.
        </p>
        <button class="cta-cstm font-josefin fc-yellow bg-dark-blue">
          Find a Friend
        </button>
      </div>
      <div class="col-6 collage text-center">
        <img class="collage-img my-3" src="./images/victor_grabarczyk_dog.jpg" alt="Dog looking">
        <img class="collage-img mb-3" src="./images/karsten_winegeart_dog.jpg" alt="Dog looking">
        <img class="collage-img" src="./images/cong_h_cat.jpg" alt="Cat looking">
      </div>
    </div>
  </div>
</div>
