<div id="pet-details" class="vh-100 bg-dark-blue">
  <div class="container mt-5 pt-5">
    <div class="row pt-5">
      <div class="col-12 pt-5">
        <!-- TODO Add name -->
        <h2 class="h2-cstm fc-yellow font-pacifico pt-5">
          Hello
          <img class="icon-64 paw" src="./images/pawprint.png" alt="" />
          ,<br />I'm Nebula and I'm looking for a new home.
        </h2>
      </div>
    </div>
    <div class="row my-5">
      <!-- TODO Add carousel -->
      <div class="col-5">
        <img class="profile-img" src="./images/placeholder.jpg" alt="pet profile pictures" />
      </div>
      <div class="col-7">
        <!-- TODO Add forEach -->
        <div class="row">
          <h3 class="col h3-cstm fc-yellow font-josefin">Age</h3>
          <p class="col p-cstm fc-white font-josefin">Young</p>
        </div>
        <div class="row">
          <!-- TODO Add description -->
          <p class="p-cstm fc-white font-josefin">
            Nebula is a shorthaired, shy dog. He is very affecionate once he
            warms up to you.
          </p>
        </div>
      </div>
    </div>
    <div class="row pt-5 justify-content-between">
      <div class="col-4 text-center">
        <h3 class="h3-cstm fc-yellow font-josefin mb-4">Good with</h3>
        <!-- TODO Add inactive -->
        <img class="icon-64 mx-3 inactive-img" src="./images/dog.png" alt="dog icon" />
        <img class="icon-64 mx-3" src="./images/cat.png" alt="cat icon" />
        <img class="icon-64 mx-3" src="./images/baby-boy.png" alt="baby icon" />
      </div>
      <div class="col-7">
        <div class="row">
          <!-- TODO Add contact info -->
          <h3 class="col h3-cstm fc-yellow font-josefin mb-4">CONTACT</h3>
          <div class="col">
            <p class="p-cstm fc-white font-josefin">
              petfindertechsupport@gmail.com
            </p>
            <p class="p-cstm fc-white font-josefin">555-555-5555</p>
            <p class="p-cstm fc-white font-josefin">NJ, Jersey City</p>
            <p class="p-cstm fc-white font-josefin">US, 07097</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>