.bg-light-blue {
  background-color: #01a5ae;
}

.bg-dark-blue {
  background-color: #3c4065;
}

.fc-white {
  color: white;
}

.fc-yellow {
  color: #f2c039;
}

.font-pacifico {
  font-family: "Pacifico", cursive;
}

.font-josefin {
  font-family: "Josefin Sans", sans-serif;
}

.h1-cstm {
  font-size: 4.768rem;
  margin-top: 300px;
  line-height: 130px;
}

.h2-cstm {
  font-size: 3.052rem;
  line-height: 86px;
}

.h3-cstm {
  font-size: 1.953rem;
  font-weight: 400;
}

.cta-cstm {
  width: 315px;
  height: 75px;
  font-size: 1.563rem;
  font-weight: 700;
  border: none;
  border-radius: 50px;
  text-align: center;
  margin-top: 50px;
}

.p-cstm {
  font-size: 1.563rem;
  font-weight: 300;
  line-height: 30px;
}

.footer-cstm {
  font-size: 1.25rem;
  font-weight: 100;
}

.icon-64 {
  height: 64px;
  width: 64px;
}

.icon-32 {
  height: 32px;
  width: 32px;
}

.logo-hero {
  width: 260px;
}

.logo-footer {
  width: 360px;
}

.paw {
  margin-top: -2.5vh;
}

.github {
    margin-top: -0.5vh;
    margin-left: 1vh;
}

.collage {
  width: 430px;
  height: 70vh;
  background-color: white;
  margin-top: 140px;
  z-index: 1;
}

.collage-img {
  width: 390px;
}

svg {
  position: absolute;
  transform: scale(-1);
  margin-top: -10vh;
}

.profile-img {
    width: 400px;
    border: 10px white solid;
    border-radius: 25px;
}

.inactive-img {
    filter: grayscale(100%);
}

a {
    text-decoration: inherit;
    color: inherit;
}

.vh-17-5 {
    height: 17.5vh;
}

.divider {
    border-top: 1px solid grey;
}